.introduction-bg {
    background-color: var(--color-black);
    box-shadow: inset 0 -120px var(--color-white);
}

.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}

.introduction h1 {
    margin-bottom: 32px;
    color: var(--color-white);
}

.introduction h1 span {
    color: var(--color-primary-1);
}

.introduction p {
    margin-bottom: 20px;
    color: var(--color-gray-5);
}

.introduction-content {
    align-self: flex-end;
    padding-bottom: 200px;
}

.introduction img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 1200px) {
    .introduction h1 {
        margin-bottom: 24px;
    }
}

@media (max-width: 830px) {
    .introduction h1 {
        margin-bottom: 16px;
    }
}

@media (max-width: 800px) {
    .introduction {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introduction-bg {
        background-color: var(--color-gray-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--color-white);
    }
    .introduction-content {
        padding-bottom: 0;
    }
    .introduction img {
        height: 300px;
        width: 100%;
    }
}